nav {
  height: 60px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.4);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Park;
  color: black;
  border-radius: 2px;
}

.nav-links {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  white-space: nowrap;
}

.nav-links > a {
  color: #3b3b3b;
  font-size: 25px;
  text-decoration: none;
  margin-left: 50px;
  
}

.search {
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: right;
  flex-grow: 1;
}

.search-bar {
  display: inline-block;
  width: 100%;
  max-width: 550px;
  height: 30px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid white;
  background: black;
}

.search-bar-button {
  width: 70px;
  height: 25px;
  border-radius: 4px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, 08);
  margin: 0 10px;
  border: 1px solid white;
}

span + input[type=checkbox]:checked {
  text-decoration: line-through;
}