extends ../layout

include ../utils

append head
  link(rel="stylesheet" href="/stylesheets/stories/add-story.css")

block content
  div(class="story-form-container")
    div(class="form-container")
      p(class="form-title") Add A Story
      form(action="/stories/create", method="post" class="user-form")
        input(type="hidden" name="_csrf" value=token)
        +field("Title", 'title', title)
        +field("Book", 'book', book)
        +field("Chapter", 'chapter', chapter)
        +field("Link", 'link', link)
        div(class='form-buttons')
          button(class="form-submit" type='submit') Submit