extends ../layout

include ../utils

append head
  link(rel="stylesheet" href="/stylesheets/stories/dummy.css")
  //- script(src="/javascripts/stories/add-story.js" type="module" defer)

block content
  nav
    div(class="nav-links")
        a(href="/") HOME
        if user
            a(href="/my-routes") MY ROUTES
        a(href="/") BROWSE
    div(class="search")
      div(class="search-bar")
      div(class="search-bar-button")