extends ../layout

include ../utils

append head
  link(rel="stylesheet" href="/stylesheets/stories/dummy.css")
  //- script(src="/javascripts/stories/add-story.js" type="module" defer)

block content
  div let's try this
    tbody(class='TDB')
      tr(class="TBD2")
        td(class="task-td")
          span One
          input(type="checkbox" class="completed-checkbox")
      tr(class="TBD2")
        td(class="task-td")
          span 
            input(type="checkbox" class="completed-checkbox")
      tr(class="TBD2")
        td(class="task-td") 
          span Three
          input(type="checkbox" class="completed-checkbox")
      