extends ../layout

include ../utils

append head
  link(rel="stylesheet" href="/stylesheets/stories/dummy.css")
  //- script(src="/javascripts/stories/add-story.js" type="module" defer)

block content
  form(action=`/dummy/1?_method=DELETE` method="POST")
    input(type="hidden" name="_method" value="DELETE")
    input(type="submit" value="submit")
      