extends ../layout

include ../utils

append head
  link(rel="stylesheet" href="/stylesheets/stories/add-story.css")
  script(src="/javascripts/stories/add-story.js" type="module" defer)

block content
  h1 Hey dummy