extends ../layout

include ../utils

append head
  link(rel="stylesheet" href="/stylesheets/stories/dummy.css")
  //- script(src="/javascripts/stories/add-story.js" type="module" defer)

block content
  div.picture
      