append head
  link(rel="stylesheet" href="/stylesheets/stories/footer.css")


div(class="footer-container")
  p FicFav
  div.icons
    span.fab.fa-github
    span.fab.fa-linkedin
    span.fab.fa-angellist