append head
  link(rel="stylesheet" href="/stylesheets/stories/footer.css")


div(class="footer-container")
  p FicFav
  div.icon-container
    span.icon.fab.fa-github
    span.icon.fab.fa-linkedin
    span.icon.fab.fa-angellist