extends ../layout

append head
  link(rel="stylesheet" href="/stylesheets/stories/story.css")
  //- add page specific js
  script(src="/javascripts/stories/story.js" type="module" defer)


block content
  div(class="main-container")
    div(class="back-button-container")
      span(class="fas fa-caret-left")
      span(class="back-text") Back
    h1(class="story-title")= story.title
    div(class="story-container")
      div(class="subscribe-container")
      div(class="details-container")
      div(class="recommend-container")

  