.main-container {
  display:flex;
  flex-direction: column;
}

.dashboard-container {
  display:flex;
  justify-content: space-around;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}
.stories-container{
  display:flex;
  width: 70%;
  flex-direction: column;
}

.story-container {
  overflow: hidden;
  display:flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 5px;
  background: var(--white);
}

.story-header-container{
  border: 2px solid var(--light-border-gray);
  padding: 10px 5px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background: var(--teal);
  color: white;
}

.story-title {
  margin: 5px 10px;;
}

.story-button-container {
  display:flex;
  margin-right: 10px;
}

.story-button-container span {
  cursor: pointer;
  font-size: 20px;
  transition: 0.5s ease-in-out;
}

.fa-chevron-circle-left {
  margin-right: 10px;
}
.opening {
  transform: rotate(-90deg);
}

.fa-chevron-circle-left:hover {
  transition-delay: 0.2s;
  transform: rotate(-90deg) scale(1.2);
}

.opening:hover {
  transition-delay: 0.2s;
  transform: rotate(0deg) scale(1.2);
}

.fa-arrow-circle-right:hover {
  transform: scale(1.2);
}

.story-details-container{
  display: none;
}

.story-details-container.open{
  border: 2px solid var(--light-border-gray);
  border-top: none;
  display: flex;
  flex-direction: column;
}

.story-details-top {
  display: flex;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 2px solid var(--light-border-gray);
  padding: 10px 5px;
}

.story-details-top-left{
  width: 70%;
}

.detail-container {
  overflow: wrap;
  display:flex;
  align-items: center;
}

.detail-label {
  margin-right: 5px;
}

.detail-value {
  margin: 5px;
}

.fa-minus-circle, .fa-plus-circle {
  cursor: pointer;
  font-size: 24px;
  color: var(--reg-blue);
}

.fa-minus-circle:hover, .fa-plus-circle:hover {
  color: var(--darker-blue);
}

.story-details-top-right{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.stars {
  padding: 10px 5px;
}

.fas.fa-star {
  color: var(--reg-red);
}

.fa-star {
  cursor: pointer;
}


.subscribe-button, .confirm-button {
  font-size: 12px;
  border: 1px solid var(--light-border-gray);
  padding: 8px 8px;
  color: white;
  background: var(--reg-orange);
  cursor: pointer;
}

.subscribe-button.dm, .confirm-button.dm {
  border: 1px solid var(--dark-border-gray);
}

.subscribe-button:hover, .confirm-button:hover {
  background: var(--darker-orange);
}

.reveal {
  cursor: pointer;
  margin: 10px;
}

.reveal:hover, .link:hover {
  color: var(--darker-blue)
}

.hidden {
  display: none;
  transition: 1s ease-in-out;
}

.description-container {
  border-bottom: 2px solid var(--light-border-gray);
}

.description-text, .review-text {
  margin: 10px;
}

.review-text.none {
  font-size: 12px;
  color: var(--emphasis-red);
}

.review-text.none.dm {
  color: var(--golden);
}

/* MODAL STUFF */
.modal-button {
  font-size: 12px;
  border: 1px solid var(--light-border-gray);
  padding: 8px 8px;
  color: white;
  background: var(--reg-orange);
  cursor: pointer;
}

.modal-background {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  background: rgba(0,0,0,0.5);
  display: none;
}

.modal-container {
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: none;
  background: var(--white);
}

.modal-content {
  color: var(--emphasis-red)
}

.modal-content.dm {
  color: var(--golden)
}

.modal-background.open-modal, .modal-container.open-modal, modal-content.open-modal {
  display: flex;
}