.main-container {
  display:flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

.secondary-container {
  margin-top: 20px;
  display:flex;
  justify-content: space-around;
}
.discover-container{
  width: 70%;
  height: auto;
}
.discover-nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav-item{
  display:flex;
  justify-content: center;
  list-style: none;
  width: 33.33%;
  cursor: pointer;
  border: 2px solid var(--light-border-gray);
}
.discover-nav .nav-item{
  font-weight: bold;
  text-align: center;
  background: var(--teal);
  color: var(--white);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px 0px;
}
.discover-nav .nav-item.active{
  background: var(--white);
  color: var(--teal);
  border-bottom: none;
}
.tab-content{
  position: absolute;
  width: inherit;
  height: auto;
  margin-top: 0px;
  background: var(--white);
  color: var(--teal);
  z-index: 1;
  padding: 30px;
  margin-bottom: 50px;
  border: 2px solid var(--light-border-gray);
  border-top: none;
}

.story-container{
  list-style: none;
}