.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; }
  .top-nav .widget-icon {
    font-size: 25px; }
  .top-nav .login-button {
    margin-right: 10px; }
