.top-nav {
  background: var(--teal);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; }
  .top-nav .widget-icon {
    height: 30px;
    width: auto; }
  .top-nav .login-button {
    margin-right: 10px; }
